.results-container {
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 1em;
}

.results-item {
    width: 300px;
    padding: 1em;
    background-color: lightblue;
    border-radius: 30px;
    list-style-type: none;
    box-shadow: 0 6px 6px 3px rgba(0,0,0,0.4);
}

.subhead {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.results-descripsion {
    text-align: start;
}